<main>
  <div class='ms-4'>
    <h1> {{name}} </h1>
    <p> <strong> birthdate: </strong> {{birthdate}} </p>
    <p> <strong> birthplace:</strong> {{birthplace}} </p>
    <p> <strong> deathdate: </strong> {{deathdate}} </p>
    <p> <strong> deathplace: </strong> {{deathplace}} </p>
    <p> <strong> nationality: </strong> {{nationality}} </p>
    <hr />
    <p> <strong> occupation: </strong> {{occupation}} </p>
    <ul>
      {{#each known_for}} <li> {{this}} </li> {{/each}}
    </ul>
    <hr />
    <p> <strong> education: </strong> </p>
    <ul>
      {{#each education}}
        <li>
          <span class='text-secondary'> degree:</span>
          {{degree}}
        </li>
        <li>
          <span class='text-secondary'> field:</span>
          {{field}}
        </li>
        <li>
          <span class='text-secondary'> institution:</span>
          {{institution}}
        </li>
        <li>
          <span class='text-secondary'> year:</span>
          {{year}}
        </li>
      {{/each}}
    </ul>
    <hr />
    <p>
      <strong> notable_publications: </strong>
      <ul>
        {{#each notable_publications}}
          <li>
            <span class='text-secondary'> title:</span>
            {{title}}
            -
            <span class='text-secondary'> year:</span>
            {{year}}
            -
            <span class='text-secondary'> publisher:</span>
            {{publisher}}</li>
        {{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> partners: </strong>
      <ul>
        {{#each partners}}
          <li>
            <span class='text-secondary'> name:</span>
            {{name}}
            ;<span class='text-secondary'>
              relationship:</span>
            {{relationship}}
            ;
            <span class='text-secondary'> year:</span>
            {{years}}
          </li>
        {{/each}}</ul>
    </p>
    <hr />
    <p>
      <strong> awards: </strong>
      <ul>
        {{#each awards}}
          <li>
            <span class='text-secondary'> title:</span>
            {{title}}
          </li>
          <li>
            <span class='text-secondary'> year:</span>
            {{year}}
          </li>
          <li>
            <span class='text-secondary'>
              description:</span>
            {{description}}
          </li>
        {{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> influences: </strong>
      <ul>
        {{#each influences}} <li> {{this}} </li>{{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> influenced: </strong>
      <ul>
        {{#each influenced}} <li> {{this}} </li>{{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> quotes: </strong>
      <ul>
        {{#each quotes}} <li> {{this}} </li>{{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> major_discoveries: </strong>
      <ul>
        {{#each major_discoveries}}
          <li>
            <span class='text-secondary'> title:</span>
            {{title}}
          </li>
          <li>
            <span class='text-secondary'> year:</span>
            {{year}}
          </li>
          <li>
            <span class='text-secondary'>
              description:</span>
            {{description}}
          </li>
        {{/each}}
      </ul>
    </p>
    <hr />
    <p>
      <strong> contributions: </strong>
      {{#with contributions}}
        <p>
          <span class='text-secondary'> title:</span>
          {{title}}
        </p>
        <p>
          <span class='text-secondary'> description:</span>
          {{description}}
        </p>
        <p>
          <span class='text-secondary'> year:</span>
          {{year}}
        </p>
        <p>
          <span class='text-secondary'> field:</span>
          {{field}}
        </p>
      {{/with}}
    </p>
  </div>
</main>