<div>
  {{#with person}}
    <div>
      <h1> {{name}} </h1>

      <h2> age: {{age}} </h2>

      <h3> gender: {{gender}} </h3>
      <hr />

      <div> <p> Address </p> </div>
      <br />
      {{#with address}}
        <div> street: {{street}} </div>
        <div> city: {{city}} </div>
        <div> state: {{state}} </div>
        <div> zip: {{zip}} </div>
        <div> country: {{country}} </div>
      {{/with}}
      <hr />

      <div> <h3> Education </h3> </div>
      <div>
        <ul>
          {{#each education}}
            <li> degree: {{degree}} </li>
            <li> major: {{major}} </li>
            <li> university: {{university}} </li>
            <li> graduationYear: {{graduationYear}} </li>
          {{/each}}
        </ul>
      </div>
      <hr />

      <div> <h3> WorkExperience </h3> </div>
      <br />
      <div>
        {{#each workExperience}}
          <div> company: {{company}} </div>
          <div> title: {{title}} </div>
          <div> startDate: {{startDate}} </div>
          <div> endDate: {{endDate}} </div>
          <div>
            responsibilities:
            {{responsibilities}}
          </div>
          <div> year_founded: {{year_founded}} </div>
          <div> industry: {{industry}} </div>
          <br />
          <div>
            <em>
              employees
            </em>
            {{#each employees}}
              <div> name: {{name}} </div>
              <div> position: {{position}} </div>
              <div> department: {{department}} </div>
              <br />
              <div>
                <em>
                  projects
                </em>
                {{#each projects}}
                  <div> name: {{name}} </div>
                  <div> description: {{description}} </div>
                  <div> status: {{status}} </div>
                  <br />
                  <div>
                    <em>
                      teams
                    </em>
                    {{#each teams}}
                      <div> team_name: {{team_name}} </div>
                      <br>
                      <div> <em>
                        team_leader </em>
                        {{#with team_leader}}
                      </div>
                      <div> name: {{name}} </div>
                      <div> title: {{title}} </div>
                      <div> email: {{email}} </div>
                      {{/with}}
                      <br />
                      <div> <em> team_members</em>  {{#each team_members}}</div>
                      <div> name: {{name}} </div>
                      <div> title: {{title}} </div>
                      <div> email: {{email}} </div>
                      <div> skills: <ul> {{#each skills}} <li> {{this}} </li> {{/each}} </ul></div>
                      <br>
                      <div> projects: {{#each projects}}</div>
                      <div> name: {{name}}</div>
                      <div> description: {{description}} </div>
                      <div> technologies: <ul> {{#each technologies}} <li> {{this}} </li> {{/each}} </ul></div>
                      <div>team_members: <ul>{{#each team_members}} <li> {{name}},{{title}}</li> {{/each}}</ul> </div> 
                      {{/each}}
                      </div>
                      {{/each}}
                      </div>
                    {{/each}}
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/with}}
</div>