<nav>
  <hr>
{{> shopheader}}
</nav>
<header>
  <div>
    {{#with newsBlock}}
      <h3 class='text-center mt-2 pb-2'> {{title}} </h3>

      <div class='row'>
        {{#each cards}}
          <div class='col-3 pb-3'>
           {{> shoppost}}
          </div>
        {{/each}}
      </div>
    {{/with}}
  </div>
</header>
<hr class="my-4">

<main>
  <div>
    {{#with goodsBlock}}
      <div class='nav nav-tabs'>
        {{#each tabs}}
            <div class='nav-item'>

              <span class='nav-link {{#if isActive}} active {{/if}}
              {{#if isDisabled}} disabled {{/if}}'> {{text}} </span>

            </div>
          {{/each}}
        </div>
              
        <div class="row">
          {{#each cards}}
          
          <div class="col-4 mt-4">
           {{> shopcard}}
          </div>
          {{/each}}
        </div>
    {{/with}}
  </div>
</main>

<hr class="my-4">
<section>
    {{#with subscribe}}
      <div class="card alert text-bg-dark">
        <div class="row">
          <div class="col-6">
              <h2 class="me-2"> {{header}} </h2>
              <p> {{description}} </p>
          </div>
            
          <div class="col-6 text-end">
            {{#each buttons}}
            <a href="{{link}}" target="_blank" class="text-end 
            btn btn-primary mt-5"> {{text}} </a>
            {{/each}}
          </div>
        </div>
      </div>
    {{/with}}
</section>
<hr class="my-4">

{{> shopaction}}
 
<hr class="my-4">

{{> shopfooter}}