<section>
  {{#with heading}}
    <div class='card'>
      <div class='card-body'>
        {{#with main}}
          <div class='card'>
            <div class='card-body'>
              <h1> {{title}} </h1>
              <p> {{text}} </p>
              {{#with button_text}}
                <button class='btn btn-primary'>
                  <span> {{solid}} </span>
                </button>
                <br />
                <br />
                <button class='btn btn-outline-primary'>
                  <span> {{outline}} </span>
                </button>
              {{/with}}
            </div>
          </div>
        {{/with}}

        <br />

        {{#with second}}
          <div class='card'>
            <div class='card-body'>
              <h2>{{title}} </h2>
              <p> {{text}} </p>
              {{#with button_text}}
                <button class='btn btn-secondary'>
                  <span> {{solid}} </span>
                </button>
                <br />
                <br />
                <button class='btn btn-outline-secondary'>
                  <span> {{outline}} </span>
                </button>
              {{/with}}
            </div>
          </div>
        {{/with}}
        <br />
        {{#with subblock}}
          <div class='card'>
            <div class='card-body'>
              <h3>{{title}} </h3>
              <p> {{text}} </p>
              {{#with button_text}}
                <button class='btn btn-dark'>
                  <span> {{solid}} </span>
                </button>
                <br />
                <br />
                <button class='btn btn-outline-dark'>
                  <span> {{outline}} </span>
                </button>
              {{/with}}
            </div>
          </div>
        {{/with}}
      </div>
    </div>
  {{/with}}
</section>

<br />

<section>
  {{#with nested_display}}
    <div class='card'>
      <div class='card-body'>
        <div class='display-1'> {{title}} </div>
        <br />

        {{#with children_display}}
          <div class='card'>
            <div class='card-body'>
              <div class='display-4'> {{title}} </div>
              <p> {{text}} </p>

              {{#with button}}
                <button class='btn btn-outline-warning'>
                  <span> {{text}} </span>
                </button>
              {{/with}}

            </div>
          </div>
        {{/with}}
        <br />

        <h6> {{header_text}} </h6>
        <br />
        {{#with button}}
          <button class='btn btn-info'>
            <span> {{text}} </span>
          </button>
        {{/with}}
      </div>
    </div>
  {{/with}}
</section>

<br />

<section>
  {{#with paragraph}}
    <div class='card'>
      <div class='card-body'>
        <p class='text-uppercase'> {{title}} </p>
        <p class='text-lowercase'> {{text}} </p>
        {{#with button}}
          <button class='btn btn-link'>
            <a href='{{url}}' class='btn btn-link'>
              {{text}}
            </a>
          </button>
        {{/with}}

        <div class='card'>
          <div class='card-body'>
            <ul>
              {{#each list_name}}
                <li>
                  <button class='btn btn-link'>
                    <a href='{{url}}'> {{text}} </a>
                  </button>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</section>