<section>
  <div class='card text-bg-success text-center pb-2'>
    {{#with service}}
      <div class='card-boby'>
        <h2> {{title}} </h2>
        <p> {{description}} </p>

        {{#each buttons}}
          <a
            href='{{link}}'
            rel='{{rel}}'
            target='_blank'
            class='btn btn-primary text-center'
          >
            {{text}}
          </a>
        {{/each}}
      </div>
    {{/with}}
  </div>
</section>